name: CI + CD

# Run this job on pushes to `main`, and for pull requests. 
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  Tests:
    name: Run tests
    strategy:
      # fail-fast set to false to assist with development
      fail-fast: false
      # Using matrix, however currently only testing against a single python version
      matrix:
        python-version: ['3.10.2']
        # I pin the Poetry version  because Poetry does occasionally change APIs between versions and I don't want my actions to break if it does.
        poetry-version: ['1.1.14']
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Install dependencies
        run: poetry install
      - name: Unit tests and coverage
        run: poetry run coverage run -m pytest tests/test_unit.py
      - name: Unit tests and coverage
        run: poetry run coverage report --fail-under 90
      - name: Integration tests
        run: poetry run pytest tests/test_integration.py
    
  DeployDev:
    name: Deploy to Dev 
    if: github.event_name == 'pull_request'
    needs: [Tests]
    runs-on: ubuntu-latest
    environment: 
      name: Development
      url: 'https://thawing-tundra-53514.herokuapp.com/'
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12 
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "thawing-tundra-53514"
          heroku_email: "adonis.cyp@gmail.com"

  RegressionTests:
    name: Run regression tests
    needs: [DeployDev]
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10.2']
        poetry-version: ['1.1.14']
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Run image
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ matrix.poetry-version }}
      - name: Install dependencies
        run: poetry install
      - name: Run regressions tests 
        run: BASE_URL=https://guarded-garden-94972.herokuapp.com poetry run pytest tests/test_regression.py
    
  DeployStaging:
    name: Deploy to Staging 
    if: github.event.ref == 'refs/heads/main'
    needs: [Tests]
    runs-on: ubuntu-latest
    environment: 
      name: Staging
      url: 'https://obscure-fjord-08660.herokuapp.com/'
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12 
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "obscure-fjord-08660"
          heroku_email: "adonis.cyp@gmail.com"
            
  DeployProd:
    name: Deploy to Production 
    needs: [DeployStaging]
    runs-on: ubuntu-latest
    environment: 
      name: Production
      url: 'https://still-plains-30534.herokuapp.com/'
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12 
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "still-plains-30534"
          heroku_email: "adonis.cyp@gmail.com"
    
